html {
        background: url('./images/pmp.jpg') no-repeat top left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font-family: 'Chivo';
}

#containment {
	width: 90%;
	margin: auto;
}

.content {
	width: 270px;
	margin-left: 5%;
	margin-bottom: 10%;
	float: left;
}

h1 {
	color: #fff;
	margin-left: 5%;
	font-family: 'Changa One';
}
h2 {
	text-align: center;
	padding-top: 6px;
	font-size: 1em;
}

.private {
	font-family: 'Bevan';
	text-transform: uppercase;
}

.stress {
	font-size: 1.2em;
}

.artname {
	background:#fff;
	height: 3.5em;
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
}

.artdesc, #android { 
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
	background: #000;
	color: #fff;
	border: 1px solid #fff; 
	margin-top: 10px;
	text-align: left;
	padding: 3px;
	font-family: sans-serif; 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 6px;
	height: 250px;
}

.artdesc img {
	margin-left: 3px;	
}

.artlink {
	background: #fff; 
	padding: 6px;	
	height: 400px;
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
}

.artlink a>img {
	padding: 0 3px;
	vertical-align: middle;
}

#android {
	display: none; 
	background: none repeat scroll 0 0 transparent !important; 
	margin-left: 6px; 
	font-family: 'helvetica', sans-serif; 
	font-weight: bold; 
	text-transform: uppercase;
}

A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: none;}
A:hover {text-decoration: none;}

#footer {
	background: black;
	font-family: 'helvetica', 'arial', sans-serif; 
	color:#fff; 
	font-weight:bold; 
	font-size:4px; 
	clear: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

a {
	color:#fff; 
	font-weight:bold;
}

a:hover {color: red;}